---
layout: default
---

<section itemscope itemtype="http://schema.org/Blog">
	{% for post in site.posts %}
			{% unless post.next %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% else %}
				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				{% if year != nyear %}
					<h3 class="code">{{ post.date | date: '%Y' }}</h3>
				{% endif %}
			{% endunless %}
		<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
			<ul>
				<li>
					<div class="post-date code">
						<time itemprop="datePublished" content="{{ post.date | date: '%Y-%m-%d' }}" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d' }}</time>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" itemprop="url"><span itemprop="name">{{ post.title }}</span></a>
					</div>
				</li>
			</ul>
		</article>
	{% endfor %}
</section>
