---
layout: default
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
    </nav>
</header>

<main id="content" class="content" role="main">
      <div class="list-title">
          <h1>Tag: {{ page.tag }}</h1>
      </div>
      {% if site.tags[page.tag] %}
          {% for post in site.tags[page.tag] %}
          <article class="post">
              <header class="post-header">
                  <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
              </header>
              {% if post.image %}
                  <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
              {% endif %}
              <section class="post-excerpt">
              {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
              </section>
              <footer class="post-meta">
                  {% if site.author %}
                      <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                      {{ site.author }}
                  {% endif %}
                  {% if post.categories.size > 0 %}
                      {{ post.categories | array_to_sentence_string | prepend: 'on ' }}
                  {% endif %}
                  <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                  {{ post.date | date_to_string }}
                  </time>
              </footer>
          </article>
          {% endfor %}
      {% endif %}
</main>
